<footer class="fixed-bottom">
    <div class="container-fluid">
        <div class="row bg-dark text-white p-3 text-center">
            <div class="col-md-6 m-auto">
                <i class="fab fa-youtube fa-2x"></i>
                <i class="fab fa-facebook fa-2x"></i>
                <i class="fab fa-linkedin fa-2x"></i>
            </div>
            <div class="col-md-6">
                <p class="h3">Derechos reservados 2019 &copy;</p>
            </div>
        </div>
    </div>
</footer>