<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= titulo %></title>
    <% include componentes/estilos %>
</head>

<body>
    <% include componentes/nav %>
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad illo nesciunt ipsum
                    quia! Quod ducimus voluptatem facilis rem praesentium similique dolorem sunt eligendi expedita
                    recusandae, nulla, commodi natus ad consectetur.</p>
                <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad illo nesciunt ipsum
                    quia! Quod ducimus voluptatem facilis rem praesentium similique dolorem sunt eligendi expedita
                    recusandae, nulla, commodi natus ad consectetur.</p>
                <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad illo nesciunt ipsum
                    quia! Quod ducimus voluptatem facilis rem praesentium similique dolorem sunt eligendi expedita
                    recusandae, nulla, commodi natus ad consectetur.</p>
                <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad illo nesciunt ipsum
                    quia! Quod ducimus voluptatem facilis rem praesentium similique dolorem sunt eligendi expedita
                    recusandae, nulla, commodi natus ad consectetur.</p>
            </div>
        </div>
    </div>
    <% include componentes/footer %>
    <% include componentes/scripts %>
</body>

</html>