<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= titulo %></title>
    <% include componentes/estilos %>
</head>

<body>
    <% include componentes/nav %>
    <section style="scrollbar-color: red;">
        <div class="container text-white p-5">
            <div class="row">
                <div class="col-md-4 offset-md-4">
                    <div class="card animated flipInY">
                        <div class="car-header bg-dark text-white text-center">
                            <h3>Contact Form :)</h3>
                        </div>
                        <div class="card-body">
                            <form action="">
                                <div class="form-group">
                                    <input type="email" name="" id="" class="form-control" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <textarea name="" id="" cols="30" rows="10" class="form-control"
                                        placeholder="Enter your message"></textarea>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-info btn-block">Enviar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <% include componentes/footer %>
    <% include componentes/scripts %>
</body>

</html>